
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #efe3e3;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        }

        header {
            text-align: center;
            margin-bottom: 30px;
        }

            header img {
                max-width: 200px;
                height: auto;
            }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .form-group input[type="text"],
            .form-group textarea,
            .form-group select {
                width: calc(100% - 22px);
                padding: 10px;
                border-radius: 4px;
                border: 1px solid #b29393;
                margin-top: 5px;
            }

            .form-group select {
                appearance: none;
                -webkit-appearance: none;
                background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 10px center/12px auto;
            }

            .form-group .button {
                padding: 10px 20px;
                background-color: #4CAF50;
                color: rgb(14, 9, 9);
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
            }
 
        #message {
            display: none;
            text-align: center;
            margin-top: 20px;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border-radius: 4px;
        }

        .mandatory::after {
            content: '*';
            color: red;
        }
        #Area option {
    text-transform: uppercase;
    font-weight: bold;
}

label[for="selectArea"] {
    font-weight: bold;
  }